{% extends 'base.html' %}

{% block title %}
{{ news_item.title }} -@- {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" align="left" alt="Jepa" width="350" class="mr-3" style="border: 15px solid #ffffff;">
            {% else %}
                <img src="https://picsum.photos/id/1084/536/354?grayscale&blur" alt="" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{ news_item.title }}</h5>
                {% autoescape off %}
                <p class="card-text">{{ news_item.content|linebreaks }}</p>
                {% endautoescape %}
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{ news_item.created_at|date:"Y-m-d H:i" }} <br>
        {{ news_item.created_at|timesince }} прошло с момента публикации
    </div>
</div>
{% endblock content %}
